.btn {
    font-weight: 400;
    border-radius: $btn-border-radius;
    cursor: pointer;
    outline: 0 !important;
    align-items: center;
    display: flex;
    flex-direction: row;
    &:focus {
        box-shadow: none;
    }
}

.btn-link {
    color: $text-color;
    align-items: center;

    &.active {
        box-shadow: none;
    }
}

.btn-default {
    @include button-variant(#fff, $btn-default-border, $btn-default-color);
    border-bottom-color: color.adjust($btn-default-border, $lightness: -2%);
    box-shadow: 0 1px 1px rgba(90, 90, 90, 0.1);
    &.btn-bg {
        border-color: rgba(0, 0, 0, 0.1);
        background-clip: padding-box;
    }
}

.btn-block {
    padding-left: 12px;
    padding-right: 12px;
    justify-content: center;
    width: 100%;
}

.btn-group-vertical > .btn:first-child:not(:last-child) {
    border-top-right-radius: $border-radius-base;
}

.btn-group-vertical > .btn:last-child:not(:first-child) {
    border-bottom-left-radius: $border-radius-base;
}

.btn-loading {
    position: relative;

    .spinner-loading {
        background: inherit;
        @extend .w-100;
        @extend .h-100;
        @extend .d-flex;
        @extend .align-items-center;
        @extend .justify-content-center;
    }

    span:not(.spinner-loading):not(.spinner-border) {
        opacity: 0;
    }

    svg:not(.spinner-loading) {
        opacity: 0;
    }
}
