html, body {
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
}


.app {
  height: auto;
  min-height: 100%;
  width: 100%;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    width: inherit;
    top: 0;
    bottom: 0;
    z-index: -1;
    background: $brand-dark;
    background: -moz-linear-gradient(left, $brand-dark 0%, $brand-dark 50%, $body-bg 51%, $body-bg 71%, $body-bg 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, $brand-dark), color-stop(50%, $brand-dark), color-stop(51%, $body-bg), color-stop(71%, $body-bg), color-stop(100%, $body-bg));
    background: -webkit-linear-gradient(left, $brand-dark 0%, $brand-dark 50%, $body-bg 51%, $body-bg 71%, $body-bg 100%);
    background: -o-linear-gradient(left, $brand-dark 0%, $brand-dark 50%, $body-bg 51%, $body-bg 71%, $body-bg 100%);
    background: -ms-linear-gradient(left, $brand-dark 0%, $brand-dark 50%, $body-bg 51%, $body-bg 71%, $body-bg 100%);
    background: linear-gradient(to right, $brand-dark 0%, $brand-dark 50%, $body-bg 51%, $body-bg 71%, $body-bg 100%);
    border: inherit;
    display: block;
  }
  .app-header {
    .navbar-header {
      display: inherit;
    }
  }

}

// content
.app-content {
  height: 100%;
  @include clearfix();
}

.app-content-body {
  float: left;
  width: 100%;
}

.app-content-center {
  height          : calc(100vh - 300px);
  min-height      : 200px;
  display         : flex;
  align-items     : center;
  justify-content : center;
  margin-bottom   : 0;
}

.hbox {
  display: table;
  table-layout: fixed;
  border-spacing: 0;
  width: 100%;
  height: 100%;
  .hbox-col {
    overflow: hidden;
    display: table-cell;
    vertical-align: top;
    height: 100%;
    float: none;
  }
}

.v-middle {
  vertical-align: middle !important;
}

.v-top {
  vertical-align: top !important;
}

.v-bottom {
  vertical-align: bottom !important;
}

.vbox {
  display: table;
  border-spacing: 0;
  position: relative;
  width: 100%;
  height: 100%;
  .row-row {
    display: table-row;
    height: 100%;
    .cell {
      position: relative;
      height: 100%;
      width: 100%;
      -webkit-overflow-scrolling: touch;
      overflow: auto;
      .ie & {
        display: table-cell;
      }
      .cell-inner {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
  }
}

@media (min-width: $tablet) {
    .aside {
        min-width: $app-aside-min-width;
    }
}

@media (min-width: 1900px) {
  .aside {
    max-width: $app-aside-width;
  }
}

@media (min-width: 768px) {

  .app-header {
    .navbar-header {
      display: none!important;
    }
  }

  //.navbar-collapse,
  .app-content{
    margin-left: $app-aside-width;
  }

  .bg-auto {
    &:before {
      content: "";
      position: absolute;
      width: inherit;
      top: 0;
      bottom: 0;
      z-index: -1;
      background-color: inherit;
      border: inherit;
    }
    &.b-l:before {
      margin-left: -1px;
    }
    &.b-r:before {
      margin-right: -1px;
    }
  }

  .col.show {
    display: table-cell !important;
  }
}

// sm
@media (min-width: 768px) and (max-width: 991px) {
  .hbox-auto-sm {
    display: block;
    > .hbox-col {
      width: auto;
      height: auto;
      display: block;
      &.show {
        display: block !important;
      }
    }
  }
}

// xs
@media (max-width: 767px) {

  .app-content-full {
    width: 100% !important;
  }

  .hbox-auto-xs {
    display: block;
    > .hbox-col {
      width: auto;
      height: auto;
      display: block;
    }
  }
}

.full-height {
  height: 100vh;
  overflow: auto;
}

.command-bar, .table td{
    .form-group {
        margin: 0;
    }
    .btn {
        @extend .dropdown-item;
    }
}


@include media-breakpoint-down(sm) {
    // Styles

    .app:before {
        display: none;
    }

    .command-bar {
        display: inline-block !important;
        list-style: none;
        margin: 0;
        padding: 0;
        overflow-x: auto;
        white-space: nowrap;
        width: 100%;
        position: initial;

        li {
            display: inline-block;
            button, a {
                margin-left: 0;
                padding-left: 0;
            }

            &:last-child{
                button, a {
                    margin-right: 0;
                    padding-right: 0;
                }
            }
            &:first-child{
                button, a {
                    margin-left: 0;
                    padding-left: 0;
                }
            }

        }
    }
}
