html, body {
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
}

@include media-breakpoint-up(md) {
    .aside {
        min-width: $app-aside-min-width;
        max-width: $app-aside-width;
    }
}


.full-height {
  height: 100vh;
  overflow: auto;
}

.command-bar, .table td{
    .btn {
        @extend .dropdown-item;
    }
}


@include media-breakpoint-down(md) {
    // Styles

    .app:before {
        display: none;
    }

    .command-bar {
        display: inline-block !important;
        list-style: none;
        margin: 0;
        padding: 0;
        overflow-x: auto;
        white-space: nowrap;
        width: 100%;
        position: initial;
        vertical-align: middle;

        li {
            display: inline-block;

            &:last-child{
                .btn-link {
                    margin-right: 0;
                    padding-right: 0;
                }
            }
            &:first-child{
                .btn-link {
                    margin-left: 0;
                    padding-left: 0;
                }
            }

        }
    }
}


.layout {
    @extend .bg-white;
    @extend .shadow-sm;
    @extend .rounded;
    @extend .p-4;
    @extend .mb-3;
}

.layout-wrapper-no-padder {
    > .p-4 {
        padding: 0 !important;
    }
}

.layout-wrapper {
    .shadow-sm {
        box-shadow: none !important;
    }

    > .mb-3:last-child{
        @extend .mb-0
    }
}

.iframe-error {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2050;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    outline: 0;
    border: none;
}
