// reset

body {
    font-family: $font-family-base;
    font-size: $font-size-base;
    color: $text-color;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: $line-height-base;
}

*:focus:not(:focus-visible) {
    outline: 0 !important;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin: 0;
}

// Links
// -------------------------

a {
    color: $link-color;
    text-decoration: none;
    cursor: pointer;
}

a:hover,
a:focus {
    color: $link-hover-color;
    text-decoration: none;
}

a:focus-visible {
  box-shadow: 0 0 0 .25rem rgba(0, 123, 255, .25) !important;
  outline: 0 !important;
}

label {
    color: color.adjust($black, $lightness: 20%);
    font-weight: normal;
    font-size: $font-size-sm;
    word-break: normal;
    white-space: nowrap;
}

small,
.small {
    font-size: $font-size-sm;
}

.badge {
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    display: inline-flex;
    align-items: center;
    align-content: center;

    &.bg-light {
        text-shadow: none;
    }

    &.up {
        position: relative;
        top: -10px;
        padding: 3px 6px;
        margin-left: -10px;
    }
}

blockquote {
    border-color: $border-color;
}

.progress {
    background-color: $light;
}

.progress-xxs {
    height: 2px;
}

.progress-xs {
    height: 6px;
}

.progress-sm {
    height: 12px;
    .progress-bar {
        font-size: 10px;
        line-height: 1rem;
    }
}

.progress,
.progress-bar {
    box-shadow: none;
}

.alert {
    font-size: $font-size-sm;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
    border-radius: 0;
    border: 0;
    p,
    ul {
        margin-bottom: 0;
    }
}

.list-group {
    border-radius: $border-radius-base;
}

.list-group-item {
    border-color: $list-group-item-border;
    padding-right: 15px;
    a#{&} {
        &:hover,
        &:focus,
        &.hover {
            background-color: $list-group-item-hover;
        }
    }
    &.media {
        margin-top: 0;
    }
    &.active {
        color: #fff;
        border-color: $list-group-active-color !important;
        background-color: $list-group-active-color !important;
        .text-muted {
            color: color.adjust(
                $list-group-active-color,
                $lightness: 30%
            ) !important;
        }
        a {
            color: #fff;
        }
    }
    &.focus {
        background-color: $list-group-item-focus !important;
    }
    &.select {
        position: relative;
        z-index: 1;
        background-color: $list-group-select-color !important;
        border-color: color.adjust($list-group-select-color, $lightness: -5%);
    }

    .list-group-alt & {
        &:nth-child(2n + 2) {
            background-color: rgba(0, 0, 0, 0.02) !important;
        }
    }
    .list-group-lg & {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .list-group-sm & {
        padding: 6px 10px;
    }
    .list-group-sp & {
        margin-bottom: 5px;
        border-radius: 3px;
    }
    > .badge {
        margin-right: 0;
    }
}

.nav {
    .nav-item {
        align-items: center;
        display: flex;
        flex-direction: row;
        text-overflow: ellipsis;

        .nav-link {
            width: 100%;
            &:hover,
            &:focus {
                //  border-radius: unset;
            }
        }
    }
}

@include media-breakpoint-down(md) {
    .nav-scroll-bar {
        display: inline-block !important;
        list-style: none;
        margin: 0;
        padding: 0 0 1px 0;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        width: 100%;
        position: initial;
        vertical-align: middle;

        .nav-item {
            display: inline-block;

            > .active {
                border-width: 2px;
            }
        }
    }
}

.pagination {
    margin: 0;

    .page-link {
        border: none;
        &:hover,
        &:focus {
            border-color: initial;
            background-color: initial;
            text-decoration: underline;
            box-shadow: none;
        }
    }

    .active .page-link {
        z-index: 3;
        background-color: inherit;
        border-color: inherit;
        cursor: default;
        color: $pagination-disabled-color;
    }
}

.card {
    border-radius: $border-radius-base;
    border-color: $border-color;
    .accordion-toggle {
        font-size: 14px;
        display: block;
        cursor: pointer;
    }
    .list-group-item {
        border-color: $panel-list-group-border;
    }
}

.table {
    > tbody,
    > tfoot {
        > tr {
            &:has(.stretched-link) {
                // Safari doesn't support position: relative on <tr> elements
                position: relative;
                transform: translate(0);
                clip-path: inset(0);
                overflow: clip;
            }
            > td {
                padding: 8px 15px;
                border-top: 1px solid $table-border-color;
            }
        }
    }
    > thead > tr > th {
        padding: 1em;
        border-bottom: 1px solid $table-border-color;
    }
}

pre {
    background-color: $light;
    border-color: $border-color;
}

.dropdown-menu {
    display: none;
    min-width: 12rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid $border-color;

    .card {
        border: none;
        margin: -5px 0;
    }

    .dropdown-item {
        padding: 5px 15px;
        &:hover,
        &:focus {
            background-color: $light !important;
            color: $link-hover-color;
        }
    }
}

.dropdown-menu-arrow {
    &:before {
        position: absolute;
        top: -6px;
        left: 12px;
        display: inline-block;
        border-right: 5px solid transparent;
        border-bottom: 5px solid $border-color;
        border-left: 5px solid transparent;
        border-bottom-color: rgba(0, 0, 0, 0.2);
        content: "";
    }

    &:after {
        position: absolute;
        top: -5px;
        left: 12px;
        display: inline-block;
        border-right: 5px solid transparent;
        border-bottom: 5px solid #fff;
        border-left: 5px solid transparent;
        content: "";
    }

    &.dropdown-menu-end {
        &:before,
        &:after {
            left: auto;
            right: 12px;
        }
    }
}

.dropdown-header {
    padding: 5px 15px;
}

.btn-group > .btn {
    margin-left: -1px;
}

.modal-backdrop {
    background-color: $dark;
    &.show {
        opacity: 0.8;
    }
}

.dropdown-item {
    align-items: center;
    display: flex;
    flex-direction: row;
    text-overflow: ellipsis;

    &.active,
    &:active {
        color: $dropdown-link-hover-color;
        background-color: $dropdown-link-hover-bg;
    }

    &.disabled,
    &:disabled {
        color: $dropdown-link-disabled-color;
    }
}
.breadcrumb {
    border-radius: unset;
    background-color: initial;
}

.sub-menu {
    width: 100%;
    display: flex;
    transition: all 0.4s ease-in-out 0s;

    .dropdown-item {
        padding: 0.5rem 2.5rem;
    }

    .dropdown-item:hover,
    .dropdown-item:focus {
        background-color: inherit;
    }
}

dd {
    margin: 0;
}

.card-text {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

sub,
sup {
    font-size: 80%;
}

legend {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.toast {
    border-radius: $border-radius;
    border: none;
}

.bg-dark {
    .nav {
        .dropdown-item.active {
            color: color.adjust(
                color.adjust($dark, $lightness: 60%),
                $saturation: -5%
            );
            background-color: color.adjust(
                color.adjust($dark, $lightness: -5%),
                $saturation: 2.5%
            );
            @extend .rounded;
            @extend .shadow-sm;
        }
    }
}

@include color-mode(dark) {
    .nav-pills {
        --#{$prefix}nav-link-bg: #{rgba(
                color.adjust($grey, $lightness: 10%),
                0.25
            )};
        --#{$prefix}nav-pills-link-active-bg: #{rgba(
                color.adjust($grey, $lightness: 10%),
                0.25
            )};
    }
}

.nav-pills {
    --#{$prefix}nav-link-bg: #{$body-bg};
    --#{$prefix}nav-pills-link-active-bg: #{$body-bg};

    > li {
        > a {
            transition: all 340ms;
            color: var(--bs-text-body-emphasis) !important;
            &:hover,
            &:focus {
                color: var(--bs-text-body-emphasis) !important;
                background-color: var(--bs-nav-link-bg) !important;
                @extend .rounded;
            }
        }
    }
}
