.line-clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.show {
    visibility: visible;
}

.line {
    width: 100%;
    height: 2px;
    margin: 10px 0;
    font-size: 0;
    overflow: hidden;
}

.line-dashed {
    border-style: dashed !important;
    background-color: transparent;
    border-width: 0;
}

.avatar {
    position: relative;
    display: block;
    border-radius: 500px;
    white-space: nowrap;
    transition: all 340ms;
    img {
        border-radius: 500px;
        width: 100%;
    }
    i {
        position: absolute;
        left: 0;
        top: 0;
        width: 10px;
        height: 10px;
        margin: 2px;
        border: 2px solid;
        border-radius: 100%;
        &.right {
            left: auto;
            right: 0;
        }
        &.bottom {
            left: auto;
            top: auto;
            bottom: 0;
            right: 0;
        }
        &.left {
            top: auto;
            bottom: 0;
        }
        &.on {
            background-color: $success;
        }
        &.off {
            background-color: $text-muted;
        }
        &.busy {
            background-color: $danger;
        }
        &.away {
            background-color: $warning;
        }
    }

    &.thumb-md i {
        width: 12px;
        height: 12px;
        margin: 3px;
    }
    &.thumb-sm i {
        margin: 1px;
    }
    &.thumb-xs i {
        margin: 0;
    }
}

.avatar-group .thumb-xs {
    margin-left: -0.40625rem;
}

.w-md {
    min-width: 240px;
}

.thumb-sm {
    width: 40px;
    min-width: 40px;
    display: inline-block;
}

.thumb-xs {
    width: 34px;
    min-width: 34px;
    display: inline-block;
}

.thumb-sm,
.thumb-xs {
    img {
        height: auto;
        max-width: 100%;
        vertical-align: middle;
    }
}

.img-full {
    width: 100%;
    img {
        width: 100%;
    }
}

.img-card {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.v-center {
    display: flex;
    align-items: center;
}

.no-resize {
    resize: none;
}

.bottom-left {
    position: absolute !important;
    bottom: 1px;
    left: 0;
}

.cursor {
    cursor: pointer;
}

.cursor-wait {
    cursor: wait;
}

.cursor-move {
    cursor: move;
}

.w-b-k {
    word-wrap: break-word;
    word-break: keep-all;
}

.opacity {
    opacity: 0.5;
}

.divider {
    border-bottom: 1px solid rgba(233, 236, 239, 0.05);
}

.border-dashed {
    border: 1px dashed $border-color !important;
}

.content-read {
    max-width: 680px;
}

.text-balance {
    text-wrap: balance;
}

.aspect-ratio-1x1 {
    aspect-ratio: 1/1;
}
