// Core variables and mixins
@import "theme/variables";

// Vendor
@import "~bootstrap/scss/bootstrap";
@import "~dropzone/dist/basic";
@import "~dropzone/dist/dropzone";
@import "~cropperjs/dist/cropper";
@import "~simplemde/dist/simplemde.min";
@import "~flatpickr/dist/flatpickr.min";
@import "~leaflet/dist/leaflet";
@import "~quill/dist/quill.snow";
@import "~frappe-charts/src/css/charts";
@import "~tom-select/dist/scss/tom-select.bootstrap5";

// App
@import "core/mixins";
@import "core/reset";
@import "core/layout";
@import "core/buttons";
@import "core/modals";
@import "plugins/plugin";
@import "theme/colors";
@import "core/utilities";
@import "core/tables";
@import "core/form";
@import "plugins/dropzone";
@import "plugins/load-opacity";
@import "plugins/accordion";
@import "plugins/tom-select";
