[data-controller~="chart"] {
    --orchid-charts-label-color: #{$body-color};
    --orchid-charts-secondary-label-color: #{$text-muted};
    --orchid-charts-axis-line-color: #{$border-color};
    --orchid-charts-tooltip-bg: #{$body-bg};
    --orchid-charts-tooltip-value: #{$body-color};
    --orchid-charts-mark-separator: #{$body-bg};
    --orchid-charts-point-fill: #{$body-bg};
}
