.ql-editor {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    bottom: 0;
    width: 100%;
    padding: 15px;
    .ql-video {
        width: 100%;
    }
}

.ql-picker-label {
    svg {
        vertical-align: baseline;
    }
}

.ql-color,
.ql-background {
    .ql-picker-options [data-value="custom-color"] {
        background: none !important;
        width: 100% !important;
        height: 20px !important;
        text-align: center;

        &:before {
            content: "Custom Color";
        }

        &:hover {
            border-color: transparent !important;
        }
    }
}

.ql-toolbar.ql-snow,
.ql-container.ql-snow {
    border: 1px solid $form-control-border-color;
    font-size: $font-size-base;
    font-family: $font-family-base;
}
