.nav-sub {
  opacity: 0;
  height: 0;
  overflow: hidden;
  margin-left: -20px;
  @include transition(all .2s ease-in-out 0s);

  .active > &,
  .app-aside-folded li:hover > &,
  .app-aside-folded li:focus > &,
  .app-aside-folded li:active > & {
    opacity: 1;
    margin-left: 0;
    height: auto !important;
    overflow: auto;
  }
}

.nav-sub-header {
  display: none !important;
  a {
    padding: floor(($app-aside-folded-nav-height - $line-height-computed-px)/2) 20px;
  }
}

.app-aside {

  .nav {
    > li {
      > a {
        &:hover,
        &:focus {
          background-color: $nav-bg-black;
        }
      }
    }
    &.nav-lg {
      > li > a {
        padding: 20px 20px;
      }
    }
    &.nav-md {
      > li > a {
        padding: 15px 15px;
      }
    }
    &.nav-sm {
      > li > a {
        padding: 6px 12px;
      }
    }
    &.nav-xs {
      > li > a {
        padding: 4px 10px;
      }
    }
    &.nav-xxs {
      > li > a {
        padding: 1px 10px;
      }
    }
    &.nav-rounded {
      > li > a {
        border-radius: 20px;
      }
    }
    .open {
      > a {
        &,
        &:hover,
        &:focus {
          background-color: $nav-bg-black;
        }
      }
    }
  }
  .aside-wrap {
  		.dropdown {
			.dropdown-item {
				a {
					&:hover,
					&:focus {
						color: inherit;
					}
				}
			}
		}
  }
}

.aside-wrap-main {

  .navi ul.nav li {

    a {
      @include transition(all .2s ease-in-out 0s);
      color: $text-muted;
      padding: 10px 0;
      text-align: center;
      font-size: $font-size-sm;
      font-weight: 300;
      i {
        font-size: 1.39286rem;
        width: inherit;
        line-height: inherit;
      }
      &:hover {
        color: $brand-white;
        background-color: $brand-dark;
      }
    }

    &.active a {
      background-color: inherit;
    }

  }
  
  	.nav {
	  .nav-item {
		.nav-link {
		  &:hover,
		  &:focus {
		    color: $brand-white;
			background-color: $brand-dark;
		  }
		}
	  }
	}
}


.navi {
  div.nav, ul.nav {
    li {
      display: block;
      position: relative;
      li {
        a {
          padding-left: $app-aside-nav-height + 15px;
        }
        ul {
          display: none;
        }
        &.active > ul {
          display: block;
        }
      }
      &.active {
        a {
          color: $brand-white;
          background-color: $brand-light;
        }
      }
      a {
        color: $brand-light;
        font-weight: normal;
        text-transform: none;
        display: block;
        padding: floor(($app-aside-nav-height - $line-height-computed-px)/2) 20px;
        position: relative;
        @include transition(background-color .2s ease-in-out 0s);
		
        .badge,
        .label {
          font-size: 11px;
          padding: 2px 5px;
          margin-top: 2px;
        }
		
        > i {
          margin: floor(-($app-aside-nav-height - $line-height-computed-px)/2) -10px;
          line-height: $app-aside-nav-height;
          width: $app-aside-nav-height;
          float: left;
          margin-right: 5px;
          text-align: center;
          position: relative;
          overflow: hidden;
          &:before {
            position: relative;
            z-index: 2;
          }
        }
		&:hover,
		&:focus {
			color: $brand-light;
		}	
      }
	  &.dropdown {
		  .dropdown-toggle {
			  -webkit-appearance: initial;
			  -moz-appearance: initial;
			  &:after{
				  display: none;
			  }
		  }
		 .dropdown-item {
			 padding:0px;
		 }			 
	  }	  
    }
  }
  ul.nav-footer-fix {
    position: absolute;
    color: $text-muted;
    list-style: none;
    padding: 0;
    overflow: hidden;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    li {
      width: 100%;
      a {
        @include transition(all .2s ease-in-out 0s);
      }
      a:hover {
        color: $brand-light;
      }
    }

  }
}

@media (min-width: 768px) {
  .app-aside-folded {
    .nav-sub-header {
      display: block !important;
      a {
        padding: floor(($app-aside-folded-nav-height - $line-height-computed-px)/2) 20px !important;
      }
    }
    .navi {
      > ul {
        > li {
          > a {
            position: relative;
            padding: 0;
            text-align: center;
            height: $app-aside-folded-nav-height;
            border: none;
            span {
              display: none;
              &.pull-right {
                display: none !important;
              }
            }
            i {
              width: auto;
              float: none;
              display: block;
              font-size: 16px;
              margin: 0;
              line-height: $app-aside-folded-nav-height;
              border: none !important;
              b {
                left: 0 !important;
              }
            }
            .badge,
            .label {
              position: absolute;
              right: 12px;
              top: 8px;
              z-index: 3;
            }
          }
        }
        > li > ul {
          height: 0 !important;
          position: absolute;
          left: 100%;
          top: 0 !important;
          z-index: 1050;
          width: $app-aside-width;
          @include box-shadow(0 2px 6px rgba(0, 0, 0, 0.1));
        }
      }
      li {
        li {
          a {
            padding-left: 20px !important;
          }
        }
      }
    }
  }

  .app-aside-folded.app-aside-fixed .app-aside {
    > ul.nav {
      &:before {
        content: "";
        width: $app-aside-folded-width;
        height: $app-aside-folded-nav-height;
        position: absolute;
        left: -$app-aside-folded-width;
        top: 0;
      }
      z-index: 1010;
      opacity: 1;
      height: auto;
      overflow: visible;
      overflow-y: auto;
      display: block;
      width: $app-aside-width + $app-aside-folded-width;
      left: $app-aside-folded-width + 20;
      position: fixed;
      -webkit-overflow-scrolling: touch;
      a {
        padding-left: 20px !important;
        padding-right: 20px !important;
      }
    }
	.justify-content-end{
		.dropdown-menu {
			left: auto;
			right: 0;
		}
	}
  }
}


/*
 *  Sub-sum menu
 */

.show {
  > .dropdown-menu.dropdown-full {
    display       : block;
    height        : 100%;
    position      : fixed!important;
    top           : 0;
    left          : 150px!important;
    width         : 300px;
    overflow-y    : auto;
    overflow-x    : hidden;
    margin-right  : 0;
    margin-bottom : 0;
    margin-top    : 0;
	transform: initial!important;
    will-change: initial!important;
    a {
      color: $brand-black;
      padding-left: 20px;
    }
  }
  .dropdown-lvl {
    margin-left: 199px;
    .dropdown-lvl {
      margin-left: 497px;
      .dropdown-lvl {
        margin-left: 795px;
      }
    }

  }
}

/*
 *  Dropdown menu
 */
.dropdown {
	.dropdown-menu{
		.dropdown-item{
			&.active, 
			&:active {
				color: #141719;
				background-color: #e9ecef;
			}
		}
	}
}
