/* 

*/

$assets-url: '../../assets';
$base-img-url: '/orchid/img/';
$icon-font-path: '/orchid/fonts/';
$fa-font-path: '/orchid/fonts/';
$orchid-font-path: '/orchid/fonts/';


$grid-breakpoints : (
                            xs: 0,
                            sm: 576px,
                            md: 768px,
                            lg: 992px,
                            xl: 1200px
                    );

// Colors
$orchid-color: #ac5ca0;

$white : #ffffff;
$gray-100 : #f8f9fa;
$gray-200 : #e9ecef;
$gray-300 : #dee2e6;
$gray-400 : #ced4da;
$gray-500 : #adb5bd;
$gray-600 : #6c757d;
$gray-700 : #495057;
$gray-800 : #343a40;
$gray-900 : #212529;
$black : #000000;

$blue : #007bff !default;
$indigo : #6610f2 !default;
$purple : #6f42c1 !default;
$pink : #e83e8c !default;
$red : #dc3545 !default;
$orange : #fd7e14 !default;
$yellow : #ffc107 !default;
$green : #28a745 !default;
$teal : #20c997 !default;
$cyan : #17a2b8 !default;

$brand-primary : #ac5ca0;
$brand-complete : $oc-indigo-8;
$brand-info : $oc-blue-7;
$brand-success : $oc-green-8;
$brand-warning : $oc-yellow-5;
$brand-danger : $oc-red-8;
$brand-light : $oc-gray-2;
$brand-dark : #3a3f51;
$brand-grey : $oc-gray-7;
$brand-white : #ffffff;
$brand-black : #1c2b36;

$primary:       $orchid-color;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;



//Mixing Color varriable for creating both light and dark colors
$mix-percentage-dark : 81%;
$mix-percentage-darker : 60%;
$mix-percentage-light : 80%;
$mix-percentage-lighter : 20%;

//Lighter colors
$brand-success-light : mix($brand-success, $brand-white, $mix-percentage-light);
$brand-success-lighter : mix($brand-success, $brand-white, $mix-percentage-lighter);

$brand-complete-light : mix($brand-complete, $brand-white, $mix-percentage-light);
$brand-complete-lighter : mix($brand-complete, $brand-white, $mix-percentage-lighter);

$brand-primary-light : mix($brand-primary, $brand-white, $mix-percentage-light);
$brand-primary-lighter : mix($brand-primary, $brand-white, $mix-percentage-lighter);

$brand-warning-light : mix($brand-warning, $brand-white, $mix-percentage-light);
$brand-warning-lighter : mix($brand-warning, $brand-white, $mix-percentage-lighter);

$brand-danger-light : mix($brand-danger, $brand-white, $mix-percentage-light);
$brand-danger-lighter : mix($brand-danger, $brand-white, $mix-percentage-lighter);

$brand-info-light : mix($brand-info, $brand-white, $mix-percentage-light);
$brand-info-lighter : mix($brand-info, $brand-white, $mix-percentage-lighter);

//Darker colors
$brand-success-dark : mix($brand-success, $brand-black, $mix-percentage-dark);
$brand-success-darker : mix($brand-success, $brand-black, $mix-percentage-darker);

$brand-complete-dark : mix($brand-complete, $brand-black, $mix-percentage-dark);
$brand-complete-darker : mix($brand-complete, $brand-black, $mix-percentage-darker);

$brand-primary-dark : mix($brand-primary, $brand-black, $mix-percentage-dark);
$brand-primary-darker : mix($brand-primary, $brand-black, $mix-percentage-darker);

$brand-warning-dark : mix($brand-warning, $brand-black, $mix-percentage-dark);
$brand-warning-darker : mix($brand-warning, $brand-black, $mix-percentage-darker);

$brand-danger-dark : mix($brand-danger, $brand-black, $mix-percentage-dark);
$brand-danger-darker : mix($brand-danger, $brand-black, $mix-percentage-darker);

$brand-info-dark : mix($brand-info, $brand-black, $mix-percentage-dark);
$brand-info-darker : mix($brand-info, $brand-black, $mix-percentage-darker);

$brand-grey-light : mix($brand-grey, #ffffff, 10%);

$body-bg : $oc-gray-0;//lighten($brand-light, 1%);
$text-color : #58666e;
$text-muted : lighten($text-color, 25%);

$font-family-sans-serif : -apple-system,BlinkMacSystemFont,'Segoe UI','Open Sans', sans-serif;
$font-family-serif : -apple-system,BlinkMacSystemFont,'Segoe UI','Open Sans', sans-serif;
$font-family-base : $font-family-sans-serif;

$font-size-base-px : 14px;
$font-size-base : 1rem;
$font-size-lg : 1.23*$font-size-base; //ceil($font-size-base * 1.23); // ~20px
$font-size-md : 1.142857*$font-size-base; //ceil($font-size-base * 1); // ~16px
$font-size-sm : 0.92857*$font-size-base; //ceil($font-size-base * 0.81); // ~13px
$font-size-xs : 0.85714*$font-size-base; //ceil($font-size-base * 0.75); // ~12px

$link-color : darken($text-color, 15%);
$link-hover-color : darken($text-color, 30%);

$border-radius-base : 2px;
$border-color : darken($brand-light, 5%);

$line-height-base : 1.42857143; // 20/14
$line-height-computed : floor($font-size-base * $line-height-base); // ~20px
$line-height-computed-px : 20px;
$icon-css-prefix : i;

// Buttons
// -------------------------

$btn-default-color : $text-color;
$btn-default-bg : lighten($brand-light, 5%);
$btn-default-border : $border-color;
$btn-border-radius : $border-radius-base;

$input-border : darken($border-color, 5%);
$input-border-focus : $brand-info;
$input-border-radius : $border-radius-base;

$panel-bg : #ffffff;
$panel-border : $border-color;
$panel-heading-border : lighten($border-color, 5%);
$panel-list-group-border : lighten($border-color, 5%);
$panel-border-radius : $border-radius-base;
$panel-heading-bg : lighten($brand-light, 3%);
$panel-footer-bg : #ffffff;

$nav-bg : lighten($brand-light, 3%);
$nav-bg-black : #313d4f;
$badge-bg : darken($brand-light, 10%);

$list-group-item-border : lighten($border-color, 3%);
$list-group-item-hover : lighten($brand-light, 3%);
$list-group-item-focus : darken($brand-light, 3%);
$list-group-select-color : #dbeef9;
$list-group-active-color : $brand-info;

$table-border-color : lighten($border-color, 4%);
$table-striped-color : lighten($brand-light, 4.5%);

$arrow-width : 8px;
$arrow-color : #ffffff;
$arrow-outer-width : ($arrow-width + 1);
$arrow-outer-color : rgba(0, 0, 0, 0.1);

$switch-width : 35px;
$switch-height : 20px;
$switch-md-width : 40px;
$switch-md-height : 24px;
$switch-lg-width : 50px;
$switch-lg-height : 30px;

$app-aside-width : 350px;
$app-aside-nav-height : 40px; //2,857rem;
$app-aside-folded-width : 60px;
$app-aside-folded-nav-height : 50px; //3.57rem;
$app-aside-dock-media : 992px;

$app-header-height : 80px;
$app-footer-height : 50px;
$app-header-md-height : 60px;

$scroll-bar-width : 17px;
$butterbar-height : 3px;
$butterbar-time : 0.75s;

$off-screen-width : 75%;

$menu-bezier : 0.05, 0.74, 0.27, 0.99;
$brand-menu-light : #fafafa;

//Forms
$form-height : 35px;
$form-group-height : 54px;
$form-control-border-color : fade-out($brand-black, 0.93);

$tablet : 768px;
$desktop : 1280px;
$widescreen : 1600px;

//DateTimePicker
$btn-primary-color : #ffffff;
$btn-primary-bg : $brand-primary;
$border-radius-base : 2px;
$gray-lighter : #eeeeee;
$gray-light : #777777;
$screen-sm-min : map-get($grid-breakpoints, sm);
$screen-md-min : map-get($grid-breakpoints, md);
$screen-lg-min : map-get($grid-breakpoints, lg);

//Bootstrap
$enable-caret : false;

//Select2-bootstrap.
$border-radius-large : 6px;
$border-radius-small : 3px;
$caret-width-base : 4px;
$caret-width-large : 5px;
$cursor-disabled : not-allowed;
$font-size-large : ceil(($font-size-base-px * 1.25)); // ~18px
$font-size-small : ceil(($font-size-base-px * 0.85));
$padding-base-vertical : 6px;
$padding-base-horizontal : 12px;
$padding-large-vertical : 10px;
$padding-large-horizontal : 16px;
$padding-small-vertical : 5px;
$padding-small-horizontal : 10px;
$line-height-large : 1.3333333;
$line-height-small : 1.5;
$input-bg : #ffffff;
$gray-base : #000000;
$gray : lighten($gray-base, 33.5%);
$input-bg-disabled : $gray-lighter;
$input-color : $gray;
$input-border : #cccccc;
$input-color-placeholder : #999999;
$input-height-base : ($line-height-computed-px + ($padding-base-vertical * 2) + 2);
$input-height-large : (ceil($font-size-large * $line-height-large) + ($padding-large-vertical * 2) + 2);
$input-height-small : (floor($font-size-small * $line-height-small) + ($padding-small-vertical * 2) + 2);
$state-warning-text : #8a6d3b;
$state-danger-text : #a94442;
$state-success-text : #3c763d;
