@use "sass:color";

// Colors
$orchid-color: #007bff; //#ac5ca0;
$min-contrast-ratio: 4.5;

$white: #ffffff;
$black: #15141a;

$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

$primary: $orchid-color;
$secondary: #6c757d !default;
$light: #f8f9fa !default;
$dark: #1c1b22;
$grey: #495057;

$grey-light: color.mix($grey, #ffffff, 10%);

$body-bg: #edeef0;
$text-color: #394247;
$text-muted: color.adjust($text-color, $lightness: 20%);

$font-size-root: 0.95rem;
$font-size-base: 1rem;
$font-size-sm: $font-size-base * 0.875;
$font-size-lg: $font-size-base * 1.25;

$link-color: color.adjust($text-color, $lightness: -15%);
$link-hover-color: color.adjust($text-color, $lightness: -30%);

$dropdown-bg: $white;
$dropdown-border-radius: 0.35rem;
$border-radius-base: 0.2rem;
$border-color: color.adjust($light, $lightness: -5%);

// Buttons
// -------------------------

$btn-default-color: $text-color;
$btn-default-bg: color.adjust($light, $lightness: 5%);
$btn-default-border: $border-color;
$btn-border-radius: $border-radius-base;
$btn-close-focus-shadow: none;
$btn-close-bg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath d='M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z'/%3E%3C/svg%3E");

$input-height: 2.45rem;
$input-border: color.adjust($border-color, $lightness: -5%);
$input-border-focus: $cyan;
$input-border-radius: $border-radius-base;
$input-group-addon-border-color: $border-color;

$panel-bg: #ffffff;
$panel-border: $border-color;
$panel-heading-border: color.adjust($border-color, $lightness: 5%);
$panel-list-group-border: color.adjust($border-color, $lightness: 5%);
$panel-border-radius: $border-radius-base;
$panel-heading-bg: color.adjust($light, $lightness: 3%);
$panel-footer-bg: #ffffff;

$nav-bg: color.adjust($light, $lightness: 3%);
$nav-bg-black: #313d4f;
$badge-bg: color.adjust($light, $lightness: -10%);

$list-group-bg: $white;
$list-group-item-border: color.adjust($border-color, $lightness: 3%);
$list-group-item-hover: color.adjust($light, $lightness: 3%);
$list-group-item-focus: color.adjust($light, $lightness: -3%);
$list-group-select-color: #dbeef9;
$list-group-active-color: $cyan;

$table-bg: $white;
$table-border-color: color.adjust($border-color, $lightness: 2%);
$table-group-separator-color: color.adjust($border-color, $lightness: 2%);
$table-striped-color: color.adjust($dark, $lightness: 4.5%);
$table-hover-bg: rgba($dark, 0.045) !default;

$app-aside-width: 20em;
$app-aside-max-width: 280px;
$aside-wrap-main-width: 0px;
$app-aside-nav-height: 40px;
$app-aside-folded-width: 60px;
$app-aside-folded-nav-height: 50px;
$app-aside-dock-media: 992px;

$scroll-bar-width: 17px;
$butterbar-height: 3px;
$butterbar-time: 0.75s;

$off-screen-width: 75%;

$menu-bezier: 0.05, 0.74, 0.27, 0.99;
$menu-light: #fafafa;

//Forms
$form-height: 35px;
$form-group-height: 54px;
$form-control-border-color: color.change($black, $alpha: 0.1);
$input-padding-y: 0.5rem;
$input-padding-x: 0.75rem;
$form-check-input-width: 1.2em;

$tablet: 768px;
$desktop: 1280px;
$widescreen: 1600px;

//DateTimePicker
$btn-primary-color: #ffffff;
$btn-primary-bg: $primary;
$gray-lighter: #eeeeee;
$gray-light: #777777;

$screen-sm-min: 480px;
$screen-md-min: 768px;
$screen-lg-min: 1024px;

//Bootstrap
$enable-caret: false;
$enable-cssgrid: true;

//Border
$border-radius: 0.5rem;
$border-radius-lg: 0.685rem;
$border-radius-sm: 0.35rem;

// Pagination
$pagination-bg: $white;
$pagination-disabled-bg: $white;
$pagination-disabled-color: $text-muted;

// Responsive font sizes
$enable-responsive-font-sizes: true;

// Navigation
$nav-link-padding-y: 0.625rem;

// Breadcrumbs
$breadcrumb-active-color: #495057;

// modals

$modal-backdrop-opacity: 0.75;
$modal-content-border-width: 0;

$utilities: (
    "line-clamp": (
        property: -webkit-line-clamp,
        class: line-clamp,
        responsive: true,
        values: (
            1: 1,
            2: 2,
            3: 3,
            4: 4,
            5: 5,
        ),
    ),
);

$nav-pills-link-color: inherit;
